* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

#header {
  text-decoration: none;

  
  height: 90px;

  display: flex;

  background-color: #f54291;
}

#instagram {
  position: absolute;

  margin-left: 1040px;
  margin-top: 27px;
}

#whats{
  position: absolute;

  margin-left: 990px;
  margin-top: 27px;
}

#logo {
  position: absolute;
  
  margin-left: 10px;
  margin-top: 5px;

  border-radius: 8px;
}

#contacts {
  margin-left: 880px;
  margin-top: 30px;

  font-size: 22px;
  font-family: Ubuntu;

}

#back  {
  position: absolute;
  margin-left: 1200px;
  margin-top: 30px;

  font-size: 22px;
  font-family: Ubuntu;
  color: black;
  text-decoration: none;
}

#voltar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  position: absolute;
  margin-left: 1150px;
  margin-top: 30px;

  font-size: 22px;
  font-family: Ubuntu;
  color: black;
  text-decoration: none;
}

#back:hover {
  text-decoration: underline;
}






section {
  width: 800px;
  transition: 400ms;
  align-items: center;
  align-content: center;

  margin: 20px;
  margin-left: 30%;
  transition: 700ms;
}

section label {
  padding: 10px; 
  display: block;
  float: left;
  background-color: #F54291;
  font-family: Ubuntu;
  text-align: center;
  cursor: pointer;

  transition: 700ms;
}

input:checked + label {
  background-color: #e90e6d;
  transition: 700ms;
}

input {
  display: none;
}

#bt_laco:checked ~ .container #pulseira,
#bt_laco:checked ~ .container #chapeu,
#bt_laco:checked ~ .container #viseira,  
#bt_laco:checked ~ .container #tiara {
  display: none;
}

#bt_pulseira:checked ~ .container #laco1,
#bt_pulseira:checked ~ .container #chapeu,
#bt_pulseira:checked ~ .container #viseira,  
#bt_pulseira:checked ~ .container #tiara {
  display: none;
}

#bt_chapeu:checked ~ .container #laco1,
#bt_chapeu:checked ~ .container #pulseira,
#bt_chapeu:checked ~ .container #viseira,  
#bt_chapeu:checked ~ .container #tiara {
  display: none;
}

#bt_tiara:checked ~ .container #laco1,
#bt_tiara:checked ~ .container #chapeu,
#bt_tiara:checked ~ .container #viseira,  
#bt_tiara:checked ~ .container #pulseira {
  display: none;
}

#bt_viseira:checked ~ .container #laco1,
#bt_viseira:checked ~ .container #chapeu, 
#bt_viseira:checked ~ .container #pulseira {
  display: none;
}




.produto-selecionado {
  transition: 700ms;
  display: none;
}













.container {
  width: 100%;
  max-width: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;

  margin-left: 15%;

  transition: 400ms;
}

.container img {
  width: 300px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
}

.produto{
  cursor: pointer;
  margin: 10px;
}


#bg-content{
  display: flex;
  width: 242px;
  height: 249px;
  border-radius: 24px;
  background: #FF69B4;

  transition: 400ms;
}

#head {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  width: 242px;
  height: 44px;
  background: #F54291;
  border-radius: 24px 24px 0px 0px;

  transition: 400ms;
}


#nome-produto {
  position: absolute;
  margin-left: 61px;
  font-family: Ubuntu;
  font-size: 30px;
  color: #000000;
  transition: 400ms;
}

#laco {
  position: absolute;
  width: 188px;
  height: 175px;
  margin-left: 27px;
  margin-top: 44px;
  border-radius: 0px 0px 24px 24px;

  transition: 400ms;
  object-fit: cover;
}

#infos {
  opacity: 0;
  position: absolute;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
}

#preco1 {
  position: absolute;
  margin-left: 412px;
  margin-top: 130px;
  width: 111px;
  height: 32px;
}

#info1 {
  position: absolute;
  margin-left: 412px;
  margin-top: 200px;
  width: 400px;
  height: 32px;
}

#info2 {
  position: absolute;
  margin-left: 412px;
  margin-top: 240px;
  width: 400px;
  height: 32px;
}

#comprar {
  display: flex;
  text-align: center;
  justify-content: center;  
  position: absolute;
  margin-left: 500px;
  margin-top: 340px;

  width: 250px;
  height: 37px;

  background-color: #ec277d;

  border-radius: 20px;
  transition: 400ms;
}

#info3 {
  position: absolute;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  color: #000000;
}


.selected #head {
  width: 876px;
}

.selected #bg-content{
  width: 876px;
  height: 395px;
}

.selected #laco {
  width: 341px;
  height: 317px;

  object-fit: cover;
}

.selected #nome-produto {
  margin-left: 380px;
}

.selected #infos {
  opacity: 1.0;
  transition: 3.2s;
}

.selected #comprar:hover {
  width: 340px;
  height: 37px;
}