#square {
  position: absolute;

  width: 242px;
  height: 249px;

  border-radius: 24px;

  display: flex;

  background-color: #FF69B4;

  transition: 400ms;
}

#nome-produto {
  position: absolute;

  margin-left: 61px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;

  color: #000000;

  transition: 400ms;
}

#ret1 {
  display: flex;

  align-items: center;
  

  width: 242px;
  height: 44px;

  background: #F54291;
  border-radius: 24px 24px 0px 0px;

  transition: 400ms;
}

#laco {
  position: absolute;

  width: 188px;
  height: 175px;

  margin-left: 27px;
  margin-top: 44px;

  border-radius: 0px 0px 24px 24px;

  transition: 400ms;
}


