<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magica dos Laços</title>

    <link rel="stylesheet" href="/css/home.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
  </head>

  <script src="/js/home.js"></script>

  <body>
    
    <span id="header" href="">
      <img id="logo" src="/img/logo.png" alt="">
      <strong id="contacts">Contato:</strong>
      <a href="https://web.whatsapp.com/" target="_blank" id="whats"><img src="/img/whatsapp.png" alt=""></a>
      <a href="https://www.instagram.com/" target="_blank" id="instagram"><img src="/img/instagram.png" alt=""></a>
    </span>

    <div class="slider">
      <img class="selected" src="/img/laco.jpeg" alt="" />
      <img src="/img/laco2.jpeg" alt="">
      <img src="/img/laco3.jpeg" alt="">
      <img src="/img/laco4.jpeg" alt="">
    </div>
    

    <div id="text-principal">
      <h1 id="title">Magica dos Laços</h1>
      <h2 id="sub">
        Laços e acessórios feito com muito amor e qualidade, para suas
        princesas.
      </h2>
    </div>

    <a id="busca" href="/view/produtos.html">
      <span id="busca1"> <img src="/img/lupa.png" alt=""> </span>
      <strong id="busca2">Veja nossos produtos</strong>
    </a>

    <div id="fundo"><img src="/img/fundo.png" alt="" /></div>
    
  </body>
</html>
