<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/produtos.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">


  <title>Produtos</title>
</head>
<body>
  <div>
    <span id="header" href="">
      <img id="logo" src="/img/logo.png" alt="">
      <strong id="contacts">Contato:</strong>
      <a href="https://web.whatsapp.com/" target="_blank" id="whats"><img src="/img/whatsapp.png" alt=""></a>
      <a href="https://www.instagam.com/" target="_blank" id="instagram"><img src="/img/instagram.png" alt=""></a>
      <img src="/img/back.svg" id="voltar" alt="">
      <a href="home.html" id="back">Voltar para o inicio</a>
    </span>
</div>

  <div class="container">

    <div id="produto">
      <div id="bg-title">
        <div id="head"><h3 id="nome-produto">Um laço</h3></div>
      </div>
      <div id="content">
        <div id="bg-content">
          <div id="img_container">
            <img id="laco" src="/img/laco.jpeg" alt="laco">
          </div>
          <div id="infos">
            <div>
              <div id="preco1"><h2>R$99.99</h2></div>
              <div id="info1">- Opção de cores</div>
              <div id="info2">- Opção de biscuit</div>
            </div>
            <div><a id="comprar" href="#" target="_blank"><h2 id="info3">Comprar</h2></a></div>
          </div>
        </div>
      </div>
    </div>


    <div id="produto">
      <div id="bg-title">
        <div id="head"><h3 id="nome-produto">Um laço</h3></div>
      </div>
      <div id="content">
        <div id="bg-content">
          <div id="img_container">
            <img id="laco" src="/img/laco2.jpeg" alt="laco">
          </div>
          <div id="infos">
            <div>
              <div id="preco1"><h2>R$99.99</h2></div>
              <div id="info1">- Opção de cores</div>
              <div id="info2">- Opção de biscuit</div>
            </div>
            <div><a id="comprar" href="#" target="_blank"><h2 id="info3">Comprar</h2></a></div>
          </div>
        </div>
      </div>
    </div>

    <div id="produto">
      <div id="bg-title">
        <div id="head"><h3 id="nome-produto">Um laço</h3></div>
      </div>
      <div id="content">
        <div id="bg-content">
          <div id="img_container">
            <img id="laco" src="/img/laco3.jpeg" alt="laco">
          </div>
          <div id="infos">
            <div>
              <div id="preco1"><h2>R$99.99</h2></div>
              <div id="info1">- Opção de cores</div>
              <div id="info2">- Opção de biscuit</div>
            </div>
            <div><a id="comprar" href="#" target="_blank"><h2 id="info3">Comprar</h2></a></div>
          </div>
        </div>
      </div>
    </div>

    <div id="produto">
      <div id="bg-title">
        <div id="head"><h3 id="nome-produto">Um laço</h3></div>
      </div>
      <div id="content">
        <div id="bg-content">
          <div id="img_container">
            <img id="laco" src="/img/laco4.jpeg" alt="laco">
          </div>
          <div id="infos">
            <div>
              <div id="preco1"><h2>R$99.99</h2></div>
              <div id="info1">- Opção de cores</div>
              <div id="info2">- Opção de biscuit</div>
            </div>
            <div><a id="comprar" href="#" target="_blank"><h2 id="info3">Comprar</h2></a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  

  
  

  <script src="/js/produto.js"></script>
</body>
</html>